NALLPUTER_TOKEN=dev-token
NALLPUTER_PROVIDER=local
NALLPUTER_RUNTIME=nallputer-0.1.0
NALLPUTER_REVISION=cf8834e
NALLPUTER_WORKSPACE=/home/nally/workspace
NALLPUTER_RAM_MB=512
NALLPUTER_CPU_MILLICORES=500
NALLPUTER_DISK_GB=2
NALLPUTER_MAX_PIDS=100
NALLPUTER_WALL_TIME_SEC=300
NALLPUTER_MAX_OUTPUT_BYTES=100000
NALLPUTER_WORKSPACE_GB=1
NALLPUTER_EGRESS_POLICY=deny-by-default
NALLPUTER_EGRESS_ALLOWLIST=pypi.org,registry.npmjs.org,github.com
NALLPUTER_IDLE_TIMEOUT_SEC=900
